{% extends 'base.html' %}
{% block content %}

  <h1>About the Comic Book Enthusiast</h1>
  <hr>
  <p>Welcome to the Comic Book Enthusiast website! We are passionate about all things comics and strive to provide a comprehensive resource for comic book enthusiasts.</p>
  <p>Whether you're a seasoned collector or just starting out, our website offers information on various comic book series, creators, conventions, and much more.</p>
  <footer>All Rights Reserved, &copy; 2024 Comic Book Enthusiast</footer>
  
{% endblock %}
